default:

    suites:
        use-cases:
            contexts:
                - WirelessLogic\Tests\Behat\Products\ProductsUseCaseContext
            paths:
                - features/use-cases/
        end-to-end:
            contexts:
              - WirelessLogic\Tests\Behat\Products\ProductsEndToEndContext
            paths:
              - features/end-to-end/

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: WirelessLogic\Symfony\Kernel
